# deps
node_modules/
.pnpm-store/

# builds
.next/
out/
dist/
build/

# python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# runtime
.env
.env.local
.env.*.local
/tmp/
sessions/

# tooling
.DS_Store
*.log
.vercel
.fly

# editor
.vscode/
.idea/
